<head>
    <script src="crypto-js.js" type="text/javascript"></script>
    <script src="bundle.js" type="text/javascript"></script>
    <script src="websocket.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
    <div id="signup">
        <h1 style="text-align: center;">Sign up page</h1>
        Username: <input v-model="userName" placeholder="eg. Méo Loraes">
        <div v-if="usercheck">
            <br>
            Password: <input type='password' v-model="password">
            <br>
            <br>
            <button type="button" v-on:click="submit()">submit</button>
        </div>
        <div v-else>
            <br>
            <button type="button" v-on:click="checkUser()">Check</button>
        </div>
    </div>
</body>

<script>    
    localStorage.clear()
    if (localStorage['pwd'] != null) {
        window.location.href = '/'
    }
    var signup = new Vue({
        el: '#signup',
        data: {
            userName: '',
            password: '',
            usercheck: false
        },
        methods: {
            async checkUser() {
                var response = await axios.get('http://localhost:8080/client/' + this.userName)
                if (response.data == 'no such client') {
                    this.usercheck = true
                }
                else {
                    alert('User already taken')
                }
            },
            submit() {                
                startCommunication(this.userName, this.password)
            }
        }
    })
</script>

<style>
    body {
        text-align: center;
    }
</style>