<head>
    <script src="crypto-js.js" type="text/javascript"></script>
    <script src="bundle.js" type="text/javascript"></script>
    <script src="websocket.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
    <div id="signin">
        <div v-if="signed">
            <div class="topnav">
                <a href="#" v-on:click="changePage('arrivedMessages')">Arrived Messages</a>
                <a href="#" v-on:click="changePage('sentMessages')">Your Sent Messages</a>
                <a href="#" v-on:click="changePage('sendMessage')">Send a Message</a>
                <a href="#" v-on:click="refresh()">refresh</a>
            </div>
            <div v-if=" page == 'sendMessage' " style="text-align: center;">
                <h1>Send Message</h1>
                To: <input v-model="destinatary" placeholder="eg. Méo Loraes">
                <br>
                <br>
                Message: <input v-model="message" placeholder="eg. Fala meu parça">
                <br>
                <br>
                <button type="button" v-on:click="submit()">Submit message</button>
            </div>
            <div v-else-if=" page == 'arrivedMessages' ">
                <h1 style="text-align: center;"> Arrived Messages</h1>
                <ul>
                    <li v-for="msg in arrivedMessages" style="text-align: left; padding-left: 30px;">
                        From {{ msg['sender'] }}: {{ msg['message'] }}
                    </li>
                </ul>
            </div>
            <div v-else-if=" page == 'sentMessages' ">
                <h1 style="text-align: center;"> Sent Messages</h1>
                <ul>
                    <li v-for="msg in sentMessages" style="text-align: left; padding-left: 30px;">
                        To {{ msg['destinatary'] }}: {{ msg['message'] }}
                    </li>
                </ul>
            </div>
        </div>
        <div v-else style="text-align: center;">
            <h1>Sign in</h1>
            Username: <input v-model="userName" placeholder="eg. Méo Loraes">
            <br>
            <br>
            Password: <input type='password' v-model="password">
            <br>
            <br>
            <button type="button" v-on:click="sign()">Sign in</button>
        </div>
    </div>
</body>

<script>
    if (localStorage['pwd'] == null) {
        window.location.href = '/signup'
    }

    var privateKey = null
    var publicKey = null
    var serverKey = null

    function setSession(pwd) {
        console.log('[crypto] Setting keys...');
        var encryptedPrivateKey = localStorage['prk']
        var bytes = CryptoJS.AES.decrypt(encryptedPrivateKey.toString(), pwd);
        privateKey = setPrivateKey(bytes.toString(CryptoJS.enc.Utf8))
        publicKey = setPublicKey(localStorage['puk'])
        serverKey = setPublicKey(localStorage['sek'])
        console.log('[crypto] Keys ready');
    }
    var signin = new Vue({
        el: '#signin',
        data: {
            userName: '',
            password: '',
            signed: false,
            message: '',
            destinatary: '',
            page: 'arrivedMessages',
            arrivedMessages: [],
            sentMessages: []
        },
        methods: {
            async getMessages(type) {
                var response = await axios.get(`https://meomail.herokuapp.com/${type}/` + this.userName)
                var data = response.data                
                for (let i = 0; i < data.length; i++) {                
                    var message = data[i]['message']                    
                    var decryptedMessage = privateKey.decrypt(message, 'utf-8')

                    data[i]['message'] = decryptedMessage                    
                }
                if (type == 'arrived')
                    this.arrivedMessages = data
                else
                    this.sentMessages = data
            },
            async submit() {
                var response = await axios.get('https://meomail.herokuapp.com/key/' + this.destinatary)
                if (response.data == 'no such client') {
                    alert('Destinatary does not exist')
                    return
                }
                var destinataryKey = setPublicKey(response.data)
                var message = this.message
                message = {
                    'sender': publicKey.encrypt(message, 'base64'),
                    'destinatary': destinataryKey.encrypt(message, 'base64')
                }
                message = privateKey.encryptPrivate(JSON.stringify(message), 'base64')
                var packet = {
                    'message': message,
                    'sender': this.userName,
                    'destinatary': this.destinatary,
                    'hash': CryptoJS.SHA512(message + this.userName + this.destinatary).toString()
                }
                var encryptedpacket = serverKey.encrypt(JSON.stringify(packet), 'base64')
                sendMessage(encryptedpacket)                
                await this.refresh()
                this.page = 'sentMessages'
                this.message = ''
                this.destinatary = ''
            },
            async checkUser() {
                var response = await axios.get('https://meomail.herokuapp.com/client/' + this.userName)
                if (response.data == 'no such client') {
                    alert('No such user')
                    return false
                }
                else {
                    return true
                }
            },
            changePage(newPage) {
                this.page = newPage
            },
            async refresh() {
                await this.getMessages('arrived')
                await this.getMessages('sent')
            },
            async sign() {
                var checked = await this.checkUser()
                if (!checked) return
                var salt = localStorage['salt']
                var hash = CryptoJS.SHA512(this.password + salt).toString()
                var pwd = localStorage['pwd']
                if (pwd == hash) {
                    this.signed = true
                    setSession(this.password)
                    this.getMessages('arrived')
                    this.getMessages('sent')
                }
                else {
                    alert('Incorrect Password');
                }
            }
        }
    })
</script>