<head>
    <script src="crypto-js.js" type="text/javascript"></script>
    <script src="bundle.js" type="text/javascript"></script>
    <script src="websocket.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div id="signup">
        <h1 id="header">Sign up</h1>
        <div v-if="isLoading" style="margin-top: 70px;">
            <h5>Exchanging crypto keys</h5>
            <div id="spin" class="spinner-border text-primary" role="status">
            </div>
        </div>
        <div v-else>
            <div class="form-group">
                <label for="form">User name</label>
                <input v-model="userName" class="form-control" id="form" placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your username with anyone
                    else.</small>
            </div>
            <div v-if="usercheck">

                <div class="form-group">
                    <label for="form">Password</label>
                    <input type="password" v-model="password" class="form-control" id="form" placeholder="Password">
                </div>
                <button type="button" class="btn btn-primary" v-on:click="submit()">submit</button>
            </div>
            <div v-else>
                <br>
                <button type="button" class="btn btn-primary" v-on:click="checkUser()">Check</button>
            </div>
        </div>
    </div>
</body>

<script>
    function startComm() {        
        startCommunication(signup.userName, signup.password)
    }
    localStorage.clear()
    if (localStorage['pwd'] != null) {
        window.location.href = '/'
    }
    var signup = new Vue({
        el: '#signup',
        data: {
            userName: '',
            password: '',
            usercheck: false,
            isLoading: false
        },
        methods: {
            async checkUser() {
                var response = await axios.get('http://localhost:8080/client/' + this.userName)
                if (response.data == 'no such client') {
                    this.usercheck = true
                }
                else {
                    alert('User already taken')
                }
            },
            submit() {
                this.isLoading = true
                setTimeout(startComm, 750);
            }
        }
    })
</script>

<style>
    #header {
        font-size: 400%;
        text-align: center;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    #form {
        margin: 0 auto;
        width: 40%;
    }

    body {
        text-align: center;
    }

    #spin {
        width: 45px;
        height: 45px;
        margin-top: 10px;
    }
</style>